* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
}
@font-face {
  font-family: iransans;
  src: url(../font/IRANSansX-Light.woff);
}
:root {
  --font: iransans;
}

div.header {
  width: 100%;
  height: 100.5px;
  padding: 7.5px 0 30px 0;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
div.header > nav {
  padding-top: 32.5px;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 100%;
  margin: 0 15%;
}
div.header > nav > a {
  display: block;
  width: 170px;
  position: absolute;
  right: 15%;
  top: 100%;
  transform: translatey(-50%);
}
div.header > nav > a > img {
  width: 100%;
  object-fit: contain;
}
div.header > nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}
div.header > nav > ul > li {
  padding: 0 20px;
  border-left: 1px solid #afb2b4;
}
div.header > nav > ul > li:nth-last-child(1) {
  border-left: none;
}
div.header > nav > ul > li > a {
  text-decoration: none;
  color: #afb2b4;
  font-size: 16px;
}
div.header-c-container {
  width: 100%;
  background: linear-gradient(to top, #d2d2d2, #ececec);
}
div.header-container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  padding: 3rem 0;
  align-items: center;
}
div.header-container > div.header-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-right: 45px;
}
div.header-container > div.header-text > h2:nth-child(1) {
  font-size: 30px;
  color: #f00;
}
div.header-container > div.header-text > h2:nth-child(2) {
  font-size: 20px;
  color: #58595b;
}
div.header-container > div.header-text > h2:nth-child(3) {
  font-size: 16px;
  color: #898989;
}
.link-container {
  display: flex;
}
.link {
  display: flex;
  width: max-content;
  padding: 12px 24px;
  font-size: 15px;
  border-radius: 8px;
  color: #7c7d7e;
  text-decoration: none;
  margin-top: 1rem;
  background: #fff;
  border: 1px solid #afb2b4;
  margin-left: 4px;
}
.link:hover {
  background: #f00;
  color: #fff;
}
div.header-container > div.header-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
div.header-container > div.header-image > img {
  height: 400px;
  object-fit: contain;
}
div.hr {
  padding: 1rem;
}
div.hr > div {
  width: 100%;
  height: 1px;
  background-color: #afb2b4;
}
div.bodytext {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3rem auto;
  padding: 10px;
  row-gap: 2rem;
}
div.bodytext > h2.textheading {
  color: #f00;
  font-size: 20px;
  margin-top: 3rem;
}
div.bodytext > h2.text {
  line-height: 2rem;
  color: #7a7a7a;
  font-size: 16px;
  text-align: justify;
}
div.bodytext > h2.text > span {
  color: #f00;
}
div.image-container {
  width: 100%;
  margin: 3rem 0 7rem 0;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.image-container > div.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
div.image-container > div.img > img {
  width: 185px;
  object-fit: contain;
}
div.image-container > div.img > span {
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  width: 100%;
  display: block;
}
div.headingimage {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
div.headingimage > img {
  width: 100%;
  object-fit: contain;
}
div.headingimage > div {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #e9d69f;
  display: flex;
  justify-content: center;
}
div.headingimage > div > div {
  width: 60%;
  height: 100%;
  position: relative;
}
div.headingimage > div > div > div {
  padding: 0 17px 4px 114px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f00;
}
div.headingimage > div > div > div > div.h2 {
  font-size: 29px;
  color: #fff;
  padding: 5px 20px 0 0;
}
div.headingimage > div > div > div > div.h3 {
  font-size: 16px;
  color: #fff;
  padding: 0px 20px 0 0;
}
div.full-width-image {
  width: 100%;
}
div.full-width-image > img {
  width: 100%;
  object-fit: contain;
}
p.headingtitle {
  width: 60%;
  padding: 0 3rem;
  margin: 2rem auto;
}
p.headingtitle > span {
  font-size: 20px;
  color: #f00;
}
div.itemcontainer {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  background-color: #cde4b0;
}
.item {
  display: flex;
  flex-direction: column;
  width: 25%;
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.2);
}
.item > img {
  width: 100%;
  object-fit: contain;
}
.item > span {
  width: 100%;
}
.item > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 22px;
  row-gap: 1rem;
}
.item > div > a.headerlink {
  text-decoration: none;
  color: #f00;
  font-size: 20px;
}
.item > div > p {
  color: #7c7d7e;
  font-size: 14px;
  line-height: 28px;
}

div.itemcontainer2 {
  background-color: #fff;
}
div.response-container {
  width: 100%;
  height: 600px;
  background: #0f5153;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.response-container > div.r-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.response-container > div.r-text > h2 {
  font-size: 18px;
  color: #d5ece1;
}
div.response-container > div.r-text > div.hr2 {
  width: 100% !important;
}
div.response-container > div.r-text > div.hr2 > div {
  background: #009da2;
  height: 0.5px;
}
div.response-container > div.r-text > div.r-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}
div.response-container > div.r-text > div.r-heading > span:nth-child(2) {
  font-size: 30px;
  color: #009da2;
}
div.response-container > div.r-text > div.r-heading > span:nth-child(1) {
  font-size: 20px;
  color: #00d8df;
}
div.response-container > div.r-text > div.r-text2 {
  font-size: 17px;
  color: #bcbec0;
}
div.response-container > img {
  position: absolute;
  bottom: 0;
  transform: translateY(40%);
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
div.response-container > div.r-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #e9d69f;
}
div.bodytext-2 {
  margin-top: 10rem;
}
div.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  background-color: #4a4a4a;
}
div.footer > div.f-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
div.footer > div.f-menu-container > div.f-menu {
  display: flex;
  flex-direction: column;
  width: 170px;
  padding: 10px;
  align-items: center;
}
div.footer > div.f-menu-container > div.f-menu > img {
  height: 90px;
  margin-bottom: 1rem;
  object-fit: contain;
}
div.footer > div.f-menu-container > div.f-menu > h2 {
  color: #fff;
  font-size: 16px;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 100%;
  text-align: center;
}
div.footer > div.f-menu-container > div.f-menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}
div.footer > div.f-menu-container > div.f-menu > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 2rem;
}
div.footer > div.copy{
    width: 100%;
    margin: 4rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.footer > div.copy > span:nth-child(1){
    color: #9f9f9f;
    text-align: center;
    font-size: 15px;
}
div.footer > div.copy > span:nth-child(2){
    color: #7b7b7b;
    text-align: center;
    font-size: 14px;
}
div.top{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #00000066;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
div.top > a{
    width: 100%;
    height: 100%;
    display: block;
}